[env]
DEFMT_LOG = "info"

[target.'cfg(target_arch = "xtensa")']
runner = "espflash flash --monitor --baud=921600"
rustflags = [
  # Tell the `core` library that we have atomics, even though it's not
  # specified in the target definition
  "--cfg", 'target_has_atomic="8"',
  "--cfg", 'target_has_atomic="16"',
  "--cfg", 'target_has_atomic="32"',
  "--cfg", 'target_has_atomic="ptr"',
  # Enable the atomic codegen option for Xtensa
  # TODO: Hide the warnings from this flag
  "-C", "target-feature=+s32c1i",

  "-C", "force-frame-pointers",
  "-C", "link-arg=-Tdefmt.x",
  "-C", "link-arg=-Tlinkall.x",
  "-C", "link-arg=-nostartfiles"
]
